/*
@font-face {
  font-family: Amarello;
  src: url("../../assets/fonts/amarurgt.ttf");
}
*/
@font-face {
  font-family: Montserrat-Bold;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Vanguard CF Extra Bold Oblique;
  src: url("../../assets/fonts/VANGUARDCF-EXTRABOLDOBLIQUE.OTF");
}

@font-face {
  font-family: URW DIN Bold;
  src: url("../../assets/fonts/URWDIN-Black.ttf");
}

@font-face {
  font-family: Inter Bold;
  src: url("../../assets/fonts/Inter-Black.ttf");
}

@font-face {
  font-family: URW DIN Bold Italic ;
  src: url("../../assets/fonts/URWDIN-BoldItalic.ttf");
}

@font-face {
  font-family: Joyride Bold ;
  src: url("../../assets/fonts/Joyride-Regular.otf");
}

@font-face {
  font-family: Montserrat Bold ;
  src: url("../../assets/fonts/Montserrat-Bold.ttf");
}